<h1>Stupid Coaching</h1>

<form action="answer" data-turbo="false">
  <input type="text" id= "question" name="question" placeholder= "what time is it?">
  <input type="submit" value="Ask your coach anything:">
</form>
